<form method="POST">
    <div>Name = <input name="name" value="<%= user.name %>"/></div>
    <div>Age  = <input name="age" value="<%= user.age %>"/></div>
    <button>Save</button>
    <input type="hidden" value="<%= user.id %>"/>
</form>